Package: com.nexuist.newtabkeyboard
Name: NewTabKeyboard
Depends: mobilesubstrate, firmware(>=7.0)
Version: 0.0.2
Architecture: iphoneos-arm
Description: Opens the keyboard after you open a new tab in Safari.
Maintainer: Nexuist <nexuister@gmail.com>
Author: Nexuist
Section: Tweaks
